{{#each workouts as |workout|}}
  {{log workout}}
  <section class ='workout-section' data-id="{{workout._id}}">
    <h6>Workout Category: {{workout.workoutCategory}}</h6>
    <h6>Targeted Body Area: {{workout.targetedBodyArea}}</h6>
    <h6>Time Spent: {{workout.timeSpent}}</h6>
    <h6>Calories Burned: {{workout.caloriesBurned}}</h6>
    <h6>Workout Date: {{workout.workoutDate}}</h6>

    <button class="btn btn-outline-success update-btn" data-id="{{workout._id}}"<a href="/workouts/id" data-toggle="modal" data-target="#myModal3"</a>Update Workout</button>
    <div class="modal fade modal2" id="myModal3">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1>Update Workout</h1>
            <p id="add-message"></p>
          </div>
          <div class="modal-body">
            <form id="update-workout" action="" style="width: 500px; margin: auto">
              <label for="workoutCategory">Enter workout category:</label>
            <select name="workout[workoutCategory]" class="form-control">
              <option data-id="{{workout._id}}" value= {{workout.workoutCategory}}></option>
            </select>

              <label for="workoutTargetedBodyArea">Enter targeted body area:</label>
            <select name="workout[targetedBodyArea]" class="form-control">
              <option value="" disabled selected hidden>Select targeted body area</option>
              <option value="Full Body">Full Body</option>
              <option value="Upper Body">Upper Body</option>
              <option value="Lower Body">Lower Body</option>
              <option value="Back">Back</option>
              <option value="Triceps">Triceps</option>
              <option value="Chest">Chest</option>
              <option value="Shoulders">Shoulders</option>
              <option value="Glutes">Glutes</option>
          </select>
              <label for="workoutTimeSpent">Enter time spent in minutes:</label>
              <input name="workout[timeSpent]" placeholder="Enter time spent on workout" type="number" class="form-control">

              <label for="workoutCaloriesBurned">Enter calories burned:</label>
              <input name="workout[caloriesBurned]" placeholder="Enter total calories burned" type="number" class="form-control">

              <label for="workoutDate">Enter date:</label>
              <input name="workout[workoutDate]" placeholder="Enter date of workout" type="date" class="form-control">
              <button type="submit" style="background-color: #fa877f;" class="form-control">Update Workout</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
        </div>
      </div>
    <button class="btn btn-outline-danger delete-btn" data-id="{{workout._id}}">Delete Workout</button>

  </section>

{{/each}}
