<div class="row">
{{#each workouts as |workout|}}
  {{log workout}}
  <!-- Card -->
    <div class="col-lg-4">
      <div class="card columns workoutCard">

  <!--Card image-->
  <div class="view view-cascade overlay">
  <img class="card-img-top" src="https://i.imgur.com/qHas0bi.png"
    alt="Card image cap">
  <a href="#!">
    <div class="mask rgba-white-slight"></div>
  </a>
  </div>
  <!--Card content-->
  <div class="card-body card-body-cascade">
    <!--Title-->
    <h4 class="card-title">Workout</h4>
    <section class ='workout-section' data-id="{{workout._id}}">
      <h6>Workout Category: {{workout.workoutCategory}}</h6>
      <h6>Targeted Body Area: {{workout.targetedBodyArea}}</h6>
      <h6>Time Spent: {{workout.timeSpent}}</h6>
      <h6>Calories Burned: {{workout.caloriesBurned}}</h6>
      <h6>Workout Date: {{workout.workoutDate}}</h6>

      <button class="btn btn-outline-secondary update-btn" data-id="{{workout._id}}"<a href="/workouts/id" data-toggle="modal" data-target="#myModal3"</a>Update Workout</button>
      <div class="modal fade modal2" id="myModal3">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1>Update Workout</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
              <p id="update-message"></p>
            </div>
            <div class="modal-body">
              <form class="update-workout" action="" style="width: 500px; margin: auto">
                <label for="workoutCategory">Enter workout category:</label>
              <select name="workout[workoutCategory]" class="form-control">
                <option value="" disabled selected hidden>Select workout category</option>
                <option value="HIIT Training">HIIT Training</option>
                <option value="Outdoor Run">Outdoor Run</option>
                <option value="Strength Training">Strength Training</option>
                <option value="Jump Rope">Jump Rope</option>
                <option value="Functional Training">Functional Training</option>
                <option value="Outdoor Walk">Outdoor Walk</option>
                <option value="Core Training">Core Training</option>
                <option value="Flexibility">Flexibility</option>
                <option value="Indoor Cycle">Indoor Cycle</option>
                <option value="CrossFit">CrossFit</option>
                <option value="Track & Field">Track & Field</option>
                <option value="Yoga">Yoga</option>
                <option value="Outdoor Cycle">Outdoor Cycle</option>
                <option value="Mixed Cardio">Mixed Cardio</option>
                <option value="Volleyball">Volleyball</option>
                <option value="Stair Stepper">Stair Stepper</option>
                <option value="Indoor Walk">Indoor Walk</option>
                <option value="Basketball">Basketball</option>
                <option value="Skating">Skating</option>
                <option value="Indoor Run">Indoor Run</option>
                <option value="Hiking">Hiking</option>
                <option value="Dance">Dance</option>
                <option value="Elliptical">Elliptical</option>
                <option value="Rowing">Rowing</option>
                <option value="Swim">Swim</option>
                <option value="Badminton">Badminton</option>
                <option value="Barre">Barre</option>
                <option value="Basketball">Basketball</option>
                <option value="Kickboxing">Kickboxing</option>
                <option value="Pilates">Pilates</option>
                <option value="Soccer">Basketball</option>
                <option value="Surfing">Surfing</option>
                <option value="Tennis">Tennis</option>
                <option value="Baseball">Baseball</option>
                <option value="Football">Football</option>
                <option value="Bowling">Bowling</option>
                <option value="Boxing">Boxing</option>
                <option value="Climbing">Climbing</option>
                <option value="Gymnastics">Gymnastics</option>
                <option value="Handball">Handball</option>
                <option value="Hockey">Hockey</option>
                <option value="Lacrosse">Sking</option>
                <option value="Martial Arts">Martial Arts</option>
                <option value="Racquetball">Racquetball</option>
                <option value="Rugby">Rugby</option>
                <option value="Snowboarding">Snowboarding</option>
                <option value="Softball">Softball</option>
                <option value="Stairs">Stairs</option>
                <option value="Wrestling">Wrestling</option>
                <option value="Water Polo">Water Polo</option>
              </select>

                <label for="workoutTargetedBodyArea">Enter targeted body area:</label>
              <select name="workout[targetedBodyArea]" class="form-control">
                <option value="" disabled selected hidden>Select targeted body area</option>
                <option value="Full Body">Full Body</option>
                <option value="Upper Body">Upper Body</option>
                <option value="Lower Body">Lower Body</option>
                <option value="Back">Back</option>
                <option value="Triceps">Triceps</option>
                <option value="Chest">Chest</option>
                <option value="Shoulders">Shoulders</option>
                <option value="Glutes">Glutes</option>
            </select>
                <label for="workoutTimeSpent">Enter time spent in minutes:</label>
                <input name="workout[timeSpent]" placeholder="Enter time spent on workout" type="number" class="form-control">

                <label for="workoutCaloriesBurned">Enter calories burned:</label>
                <input name="workout[caloriesBurned]" placeholder="Enter total calories burned" type="number" class="form-control">

                <label for="workoutDate">Enter date:</label>
                <input name="workout[workoutDate]" placeholder="Enter date of workout" type="date" class="form-control">
                <button type="submit" style="background-color: #fa877f;" class="form-control">Update Workout</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
          </div>
        </div>
      <button class="btn btn-outline-secondary delete-btn" data-toggle="modal" data-target="#myModal4" data-id="{{workout._id}}">Delete Workout</button>


    </section>
  </div>
  </div>
</div>

  {{/each}}
  </div>
